/* body {
    background-color: rgb(187, 128, 128);

}

.container {
    width: 400px;
    height: 500px;
    border: 3px solid red;
    margin-left: 35%;
    margin-top: 3.5%;
    background-color: black;
    box-shadow: 20px 20px lightslategray;


}

#sin {
    margin-left: 110px;
    margin-bottom: 40px;
    margin-top: 40px;
    color: rgb(0, 255, 42);

}

#table1 {
    margin-left: 25px;
}

.row1,
.row2,
.row3 {
    height: 50px;
    width: 300px;
    margin-bottom: 20px;
}

#reg {
    text-align: right;
    color: red;
}

.row3 {
    background-color: greenyellow;
}

#welcome {
    margin-left: 32%;
    color: greenyellow;
} */



